*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #fdcb6e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-box{
    width: 60%;
    background-color: #000000b2;
    padding: 10px 20px;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    margin-top: 20px;
}
.main-box .jokes-wrapper{
    min-height: 300px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
}
.jokes-wrapper p{
    font-size: 30px;
}
.main-box .btn-wrapper{
    text-align: center;
    margin: 100px 0px 20px 0px;
}
.btn-wrapper button{
    width: 70%;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
}
.btn-wrapper button:hover{
    background-color: orange;
    transform: translateY(-10px);
    transition: .5s;
}